{% assign settings = site.data.settings %}

<!-- CONTACT -->
<section class="section inverse has-image-bg is-tinted" style="background-image: url(/assets/img/content/hero/hero-7.jpg">
	<div class="container text-center">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-xl-8">

				<h2 class="text-center">Get in touch</h2>
				<br>

		        <a class="h4 mr-3 subheader" href="tel:{{ settings.offices[0].phone }}" title="{{ settings.offices[0].title }}">
		            <i class="fa fa-phone"></i>&nbsp;<span class="text">{{ settings.offices[0].phone }}</span>
		        </a>

		        <br class="hidden-md-up">

		        <a class="h4 mr-3 subheader" href="tel:{{ settings.offices[1].phone }}" title="{{ settings.offices[1].title }}">
		            <i class="fa fa-phone"></i>&nbsp;<span class="text">{{ settings.offices[1].phone }}</span>
		        </a>

		        <br class="hidden-md-up">

		        <a class="h4 subheader" href="mailto:{{ settings.offices[0].email }}">
		            <i class="fa fa-envelope"></i>&nbsp;<span class="text">{{ settings.offices[0].email }}</span>
		        </a>

				<hr>
				<p class="lead">or fill out the form below...</p>
				<br>
				<div class="row justify-content-center">
					<div class="col-md-9 col-lg-8">
						{% include form_contact.html %}
					</div>
				</div>

			</div>
		</div>
	</div>
</section>