/*
    FOOTER.CSS

    - Last updated: 27.06.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.global-footer {
	background: $gray-dark;
}

//-----------------------------------------------------------------
// FOOTER BODY
//-----------------------------------------------------------------

.global-footer-body {
	padding: rem-calc(50 0 20 0);
	font-size: rem-calc(16);
	font-weight: 600;
	color: white;

	a {
		// color: white;
		color: #cccdce;
	}

	.global-footer-list {
		font-size: rem-calc(15);
		line-height: 1.2;

		a {
			display: block;
			margin-bottom: rem-calc(10);
		}

		i {
			width: rem-calc(22);
			margin-right: rem-calc(8);
			font-size: rem-calc(17);
			text-align: center;
		}
	}

	.divider {
		border-bottom: 1px solid rgba(white, 0.2);
		margin-bottom: $spacer;
	}

	h1, h2, h3, h4, h5, h6 {
		color: white;
	}
}

//-----------------------------------------------------------------
// FOOTER BOTTOM
//-----------------------------------------------------------------

.global-footer-bottom {
	padding: $spacer/2 0 $spacer 0;
	background: inherit;
	color: white;

	a {
		display: inline-flex;
		align-items: center;
		color: white;

		.fa-angle-up,
		.fa-angle-down {
			font-size: rem-calc(25);
			transition: transform 400ms ease;

			&.is-active {
				transform: rotate(180deg);
			}
		}
	}

	.author-logo {
		color: rgba(white, 0.5);
		font-size: rem-calc(11);
	}

	//=========================================
	// BLEED TO BOTTOM
	//=========================================

	&:after {
		content: "";
		position: fixed;
		left: 0;
		width: 100%;
		height: 100%;
		background: inherit;
		z-index: -1;
	}
}

//=========================================
//
//=========================================