/*
    BREADCRUMB.CSS

    - Last updated: 13.07.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BREADCRUMB
//-----------------------------------------------------------------

.breadcrumb {
	margin-bottom: 0;

	a {
		display: block;
		font-size: rem-calc(14);
		font-weight: 600;
		color: lighten($gray, 20%);

		&:hover {
			color: lighten($gray, 10%);
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================