/*
    MEDIA.CSS

    - Last updated: 11.07.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// MEDIA
//-----------------------------------------------------------------

.media-article {
	color: $body-color;

	date {
		font-weight: 600;
		text-transform: uppercase;
		color: lighten($gray, 45%);
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================