/*
    PANELS.CSS

    - Last updated: 11.07.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// PANEL - Used on homepage
//-----------------------------------------------------------------

.panel {
	position: relative;
    background: rgba(black, 0.52);
    padding: $spacer*1.5;
    overflow: hidden;
    color: white;

    @include media-breakpoint-down(xs) {
        left: -15px;
        width: calc(100% + 15px * 2);
    }

    a {
    	color: white;
    	font-weight: 400;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================