/*
    SIDE-NAV.CSS

    - Last updated: 13.07.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// RESET UL
//-----------------------------------------------------------------

.side-nav,
.side-nav ul {
    padding: 0; // [RESET]
    list-style: none; // [RESET]
    font-size: rem-calc(15);

    @include media-breakpoint-up(xxl) {
        font-size: rem-calc(18);
    }
}

//-----------------------------------------------------------------
// SIDE NAV
//-----------------------------------------------------------------

.side-nav {

    //-----------------------------------------------------------------
    // NESTED
    //-----------------------------------------------------------------

    ul ul {
        display: none;
    }

    .active-parent > ul {
        display: block;
    }

    //-----------------------------------------------------------------
    // LI
    //-----------------------------------------------------------------

    li {
        padding: 0; // [RESET]
        border-top: 1px solid white;
    }

    //=========================================
    // OPTIONAL - TOP MOST
    //=========================================

    > li:first-child {
        border: 0;

        > a {
            background-color: darken($brand-primary, 10%);
        }
    }

    //-----------------------------------------------------------------
    // ANCHORS
    //-----------------------------------------------------------------

    li > a {
        padding: em-calc(20);
    }

    //=========================================
    // THIRD LEVEL
    //=========================================

    ul ul > li > a {
        background: $gray;
    }

    //-----------------------------------------------------------------
    // ACTIVE ANCHORS | (\f105)
    //-----------------------------------------------------------------

    .active-parent > a {
        background: $gray-dark;
    }

    .active-parent .active-parent .active > a {
        background: lighten($gray, 10%);
        padding-left: em-calc(30);
        padding-right: em-calc(30);
    }

    //=========================================
    // GENERAL ACTIVE ANCHORS
    //=========================================

    a {
        display: flex;
        background: $brand-primary;

        font-weight: 600;
        color: white;
        transition: opacity ease 100ms;

        &:hover {
            @include media-breakpoint-up(xl) {
                opacity: 0.9;
            }
        }
    }
}

//=========================================
//
//=========================================