---
layout: base
---

{% include hero.html %}

{% include sections/blog.html %}

{% include sections/team.html %}

<!-- ABOUT US -->
<section class="section inverse has-image-bg is-tinted pb-0 pb-sm-4" style="background-image: url(/assets/img/content/hero/hero-5.jpg)">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h3>About Integrated Conflict Resolution</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<p>Some ‘about us’ content, sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellent esque eu, pretium quis, sem. Nulla consequat massa quis enim parturient montes. Penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, s nec, pellent esque eu, pretium. nascetur ridiculus mus. Donec quam felis, ultricies necent esque eu, quis, sem. Nulla consequat massa  nascetur ridiculus mus.  orem ipsum.</p>
				<div class="spacer mb-2"></div>
				<p><a href="/about/" class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></a></p>
				<div class="spacer mb-4"></div>
			</div>
		</div>
	</div>
</section>