---
layout: base__page
---

{% assign qualifications = page.qualifications %}
{% assign further_training = page.further_training %}

{% capture profile %}
	<p><img width="100%" src="/assets/img/ui/no-face.png" alt="Profile Photo"></p>
	<!-- <p><a class="icon-link d-inline-flex" href="mailto:deb.black@icresolution.com"><i class="fa fa-envelope mr-2"></i><span class="text">deb.black@icresolution.com</span></a></p> -->
{% endcapture %}

<div class="row">
	<div class="col-md-4 col-lg-3">

		<!-- PHOTO -->
		<div class="hidden-sm-down">
			{{ profile }}
		</div>

	</div>
	<div class="col-md-8 col-lg-9 pl-md-4 px-lg-4 px-xl-5">

		<!-- HEADING -->
		<h1 class="h2">{{ page.title }}</h1>
		<p class="lead mb-4"><b>{{ page.lead }}</b></p>

		<!-- PHOTO -->
		<div class="hidden-md-up">
			{{ profile }}
		</div>

		{{ content }}

		<div class="spacer mb-3"></div>

		<!-- QUALIFICATIONS / TRAINING -->
		<div class="row">
			<div class="col-lg-6">
				<h3 class="h4">Qualifications</h3>
				<ul class="wysiwyg">
					{% for item in qualifications %}
						<li>{{ item }}</li>
					{% endfor %}
				</ul>
				<div class="spacer mb-3"></div>
			</div>
			<div class="col-lg-6">
				<h3 class="h4">Further training, accreditation and memberships</h3>
				<ul class="wysiwyg">
					{% for item in further_training %}
						<li>{{ item }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

{% contentfor content_additional %}
	{% include sections/team.html title="Also in our team" limit=3 columns=9 %}
{% endcontentfor %}